body{
   margin: 0;
   padding: 0;
}
ul{
   list-style-type:none;
   overflow: hidden;
   margin-top: 15px;
}
.Navitems{
   width: 80vw;
   height: 10vh;
   margin: auto;
   margin-top: .6rem;
   position: relative;
}
.setup {
   float: left;
   overflow: hidden;
   display: inline-flex;
}
.tool {
   float:right;  
   display: inline-flex;
   padding-inline-start: 0px;
   padding-inline-end: 40px; 
}
.setup > li, .tool > li {
   margin-left: 1rem;
   box-sizing: border-box;
   position: relative;
   background-color: rgba(93, 238, 248, 0);
   padding: .1rem;
   border-radius: 10px;
}
.btnImg{
   width: 20px;
}
.main-container{
   margin: auto;
   margin-top: 0.5rem;
   height: 79vh;
   width: 90vw;
   position: relative;
}
.grid-container{
   margin: auto;
   margin-top: .6rem;
   height: 95%;
   width: 95%;
}
.textCont{
   width: 380px;
   margin: auto;
   height: auto;
}
.label{
   width: 360px;
   font-size: 1.2rem;
   font-weight: bold;
   height: fit-content;
   margin: 0;
   display: inline-block;
   background-color: rgba(255, 201, 22, 0.76);
}
.grid {
   border: 1px dashed black;
   height: 500px;
   width: 500px;
   visibility: hidden;
   margin-top: .6rem;
   background-color: beige;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
}
#inpCont {
   width:100%;
   margin-left: .5rem;
   margin-top: 1.2rem;
   text-align: center;
}
#inpDiv > input{
   margin: 3px;
   height: 40px;
   border-radius: 5px;
   font-family: "Courier New", Courier, monospace;
   font-size: 1.2rem;
   text-align: center;
}
.gridCont > input {
   padding: 5px;
   margin: 5px;
   height: 2.3rem;
   font-size: .8rem;
   border-radius: 5px;
}
.gridCont > input:hover {
   font-size: 1rem;
   background-color: rgba(250, 200, 200, 0.6);
}
#submitInp {
   width: 6rem;
   height: 2.5rem;
   border-radius: .5rem;
   font-size: 1.5rem;
   margin-top: 1rem;
}
#submitInp:hover {
   background-color: rgba(250, 200, 200, 0.6);
   cursor: pointer;
}
#addInp {
   width: 3rem;
}
#removeInp {
   width: 5rem;
}