body{
   margin: 0;
   padding: 0;
}
ul{
   list-style-type:none;
   overflow: hidden;
}
.Navitems{
   width: 80vw;
   height: 10vh;
   margin: auto;
   margin-top: 1rem;
   position: relative;
}
.setup {
   float: left;
   overflow: hidden;
}
.tool {
   float:right;  
   padding-inline-start: 0px;
   padding-inline-end: 40px; 
}
.setup > li {
   display: inline-block;
   margin: .5rem;
   box-sizing: border-box;
   position: relative;
   border: 1px solid black;
}
.tool > li{
   display: inline;
   margin: .5rem;
   box-sizing: border-box;
   border: 1px solid black;
   position: relative;
}
.main-container{
   margin: auto;
   margin-top: 1rem;
   height: 79vh;
   width: 90vw;
   border: 2px solid black;
   position: relative;
   z-index: -1;
}
.grid-container{
   border: 1px dashed black;
   margin: auto;
   margin-top: .6rem;
   height: 95%;
   width: 85%;
}
label{
   height: 2rem;
   position: relative;
   font-weight: bold;
}
.grid {
   border: 1px dashed black;
   height: 500px;
   width: 500px;
   margin-top: .6rem;
   background-color: beige;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
}
#category {
   height: fit-content;
}
