@media(max-width:450px){
   body{
      font-size: 16px;
   }
}
@media (max-width:900px) {
   body{
      font-size: 20px;
   }
}
@media (min-width:901px) {
   body{
      font-size: 25px;
   }
}
body{
   background-image: url("../images/chalkboard.jpg");
   background-size:contain;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.setup > li > a, .tool>li>a {
   color: #f54d47;
   font-weight: bold;
   text-decoration:none;
}
.setup > li:hover, .tool>li:hover {
   cursor: pointer;
   border: 2px solid  rgb(19, 18, 18);
   box-shadow: 0rem .5rem .8rem black;
}
.grid-container{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background: transparent;
}
.cell{
   float: left;
   box-sizing: border-box;
   height: 50px;
   width: 50px;
   border: none;
   font-size: 25px;
   writing-mode: vertical-lr;
   text-align: center;
   text-transform: uppercase;
}
.cell :hover{
   cursor: pointer;
   background-color: aqua;
}
.puzzleImg{
   width: 7rem;
   height: 7rem;
   margin: .6rem;
   box-sizing: border-box;
   border: .5px dashed white;
   background-size: contain;
}
#imageLabel {
   height: 2rem;
   width: 2rem;
   font-size: 1.5rem;
   font-weight: bold;
   color: rgb(25,25,125);
   text-align: center;
   border-radius: 40%;
   background: rgba(205, 255 , 255, .7);
}
.imageContainer {
   display: flex;
   flex-direction: row;
   min-width: 10%;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-content: space-around;
   backdrop-filter: none;
}
.dropDown {
 
 display: none;
 position: fixed;
 z-index:  1;   
}
#category:hover .dropDown{
   display: block;
}
.dropDownBtn {
   width: 90px;
   height: 60px;
}
.dropDownBtn > button{
   width: 100%;
   height: 100%;
   text-align: center;
   padding: 0px;
   font-size: 18px;
}
.dropDownBtn > button:hover{
   opacity: .8;
   font-size: 20px;
}
#fruit {
background-image: url("../images/fruits/fruit-One.jpg");
background-size: contain;
}
#wild_Animals{
   background-image: url("../images/wild_animals/wild_animal_one.jpg");
   background-size: contain;
   color: white;
}
#domestic_Animals{
   background-image: url("../images/domestic_animals/farm_animal.jpg");
   background-size: contain;
}
#sports {
   background-image: url("../images/sports/sports-three.jpg");
   background-size: contain;
}
.gridCont {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}
#inpAns {
   width: 5rem;
   max-width: max-content;
}